blinker==1.9.0
click==8.2.1
Flask==3.1.2
importlib_metadata==8.7.0
itsdangerous==2.2.0
Jinja2==3.1.6
lesscpy==0.15.1
libsass==0.23.0
MarkupSafe==3.0.2
ply==3.11
six==1.17.0
Werkzeug==3.1.4
zipp==3.23.0
